<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	<h:form>
		<p:growl id="messages" showDetail="true" />

		<!-- <p:spacer width="100%" height="20px" /> -->

		<p:menu style="width: 95%;">
			<p:submenu label="Menu">
				<p:menuitem value="Meine Tasks" action="#{menuView.save}"
					update="messages" icon="ui-icon-home" />
				<p:menuitem value="Kunden" url="http://localhost:8080/pages/Kunden.jsf"
					update="messages" icon="ui-icon-person" />
				<p:menuitem value="Kantone" url="http://localhost:8080/pages/Kantone.jsf"
					update="messages" icon="ui-icon-gear" />
				<p:menuitem value="Personen"
					url="http://localhost:8080/pages/Personen.jsf" update="messages"
					icon="ui-icon-gear" />
				<p:menuitem value="Benutzer"
					url="http://localhost:8080/pages/Benutzer.jsf" update="messages"
					icon="ui-icon-gear" />
			</p:submenu>
		</p:menu>
	</h:form>
</ui:composition>