<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<h:head>
	<title>Personen</title>
</h:head>

<h:body>

	<p:layout fullPage="true" id="layout">
		<p:layoutUnit position="west" resizable="false" size="300">
			<ui:include src="/pages/include/menu.xhtml" />
		</p:layoutUnit>
		<p:layoutUnit position="center">
			<!-- 
			<c:if test="#{helloUser.loginCorrect}">
			
-->
			<p:growl id="growl" autoUpdate="false" life="3000" />

			<h:form id="nameForm">
				<!-- <p:spacer width="100%" height="20px" /> -->

				<p:panel id="headingPersonen" header="Personen" />

				<p:dataTable id="personenTable"
					value="#{personController.recordList}" var="person"
					widgetVar="personenTable"
					filteredValue="#{personController.filteredRecordList}"
					emptyMessage="No Names found with given criteria">

					<p:column headerText="ID" filterBy="#{person.id}"
						filterMatchMode="contains">
						<h:outputText value="#{person.id}" />
					</p:column>

					<p:column headerText="Name" filterBy="#{person.name}"
						filterMatchMode="contains" footerText="contains">
						<h:outputText value="#{person.name}" />
					</p:column>

					<p:column headerText="Vorname" filterBy="#{person.vorname}"
						filterMatchMode="contains" footerText="contains">
						<h:outputText value="#{person.vorname}" />
					</p:column>

					<p:column headerText="E-Mail" footerText="email">
						<h:outputText value="#{person.email}" />
					</p:column>

					<p:column headerText="Telefon" footerText="telefon">
						<h:outputText value="#{person.telefon}" />
					</p:column>

					<p:column id="commandButtons"
						style="width:150px; text-align:center;">
						<p:commandButton id="buttonEdit" icon="ui-icon-pencil"
							update=":editDialogForm" oncomplete="PF('editDialog').show();"
							actionListener="#{personController.setSelectedRecord(person)}">
						</p:commandButton>
						<p:commandButton id="buttonRemove" icon="ui-icon-trash"
							update=":growl :nameForm"
							oncomplete="PF('personenTable').filter()">
							<f:setPropertyActionListener value="#{person}"
								target="#{personController.selectedRecord}" />
							<f:actionListener binding="#{personController.removePerson()}" />

						</p:commandButton>
					</p:column>
				</p:dataTable>

				<p:spacer width="100%" height="20px" />
				<div style="float: right;">
					<p:commandButton value="Neue Person" update=":editDialogForm"
						actionListener="#{personController.create()}"
						oncomplete="PF('editDialog').show();" />

				</div>


				<p:blockUI widgetVar="blockForm" block="nameForm">
					<!-- trigger="submit" -->
					<h:outputText value="Laden" />

				</p:blockUI>
			</h:form>

			<p:dialog appendTo="@(body)" id="editDialog" dynamic="true"
				header="#{empty personController.selectedRecord ? 'selectedRecord is null' : 'selectedRecord is not null'}"
				widgetVar="editDialog" modal="true">
				<h:form id="editDialogForm">
					<h:panelGrid columns="3">

						<p:panel id="dialogPanel">
							<h:panelGrid columns="2">

								<p:outputLabel for="nameEdit" value="Name*" />
								<p:inputText id="nameEdit" autocomplete="off"
									value="#{personController.selectedRecord.name}">
									<p:ajax event="keyup" update="submitEdit" />
								</p:inputText>

								<p:outputLabel for="vornameEdit" value="Vorname*" />
								<p:inputText id="vornameEdit" 
									value="#{personController.selectedRecord.vorname}">
									<p:ajax event="keyup" update="submitEdit" />
								</p:inputText>


								<p:outputLabel for="emailEdit" value="Email*" />
								<p:inputText id="emailEdit"
									value="#{personController.selectedRecord.email}">
									<p:ajax event="keyup" update="submitEdit" />
								</p:inputText>

								<p:outputLabel for="telefonEdit" value="Telefon" />
								<p:inputText id="telefonEdit"
									value="#{personController.selectedRecord.telefon}">
								</p:inputText>


								<p:outputLabel for="juristischEdit" value="Juristisch Person" />
								<p:selectBooleanCheckbox id="juristischEdit"
									value="#{personController.selectedRecord.juristisch}">
								</p:selectBooleanCheckbox>

								<p:spacer width="100%" height="10px" />


								<p:commandButton id="submitEdit" icon="ui-icon-disk"
									validateClient="true" value="speichern"
									actionListener="#{personController.savePerson()}"
									oncomplete="if (args &amp;&amp; !args.validationFailed) { PF('editDialog').hide(); PF('personenTable').filter()}"
									update="@form :growl"
									disabled="#{personController.selectedRecord.name eq null or empty personController.selectedRecord.name or personController.selectedRecord.vorname eq null or empty personController.selectedRecord.vorname or personController.selectedRecord.email eq null or empty personController.selectedRecord.email}" />
<!-- #{personController.check()} -->
							</h:panelGrid>
						</p:panel>
					</h:panelGrid>
				</h:form>
			</p:dialog>
			<!-- 

			</c:if>
			<c:if test="#{not helloUser.loginCorrect}">
				<h:form>
					<p:remoteCommand name="onload"
						action="#{helloUser.unauthorizedUser('Kunden')}" autoRun="true" />
				</h:form>
			</c:if>
 -->
		</p:layoutUnit>
	</p:layout>
</h:body>
</html>
