<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<h:head>
	<title>Auswertung</title>
</h:head>

<h:body>

	<p:layout fullPage="true" id="layout">
		<p:layoutUnit position="west" resizable="false" size="300">
			<ui:include src="/pages/include/menu.xhtml" />
		</p:layoutUnit>
		<p:layoutUnit position="center">

			<p:growl id="growl" autoUpdate="false" life="3000" />
			<!-- <f:metadata>
				<f:viewParam name="generateCharts" value="#{bean.foo}" />
				<f:event type="preRenderView" listener="#{bean.onload}" />
			</f:metadata> -->
			<h:form id="nameForm">
				<p:chart id="kundeProKanton" type="pie"
					model="#{auswertungController.kundeProKantonPieModel}"
					style="width:400px;height:300px" />
				<br />
				<br />
				<p:chart id="auftraegeProUser" type="bar"
					model="#{auswertungController.kundeProKantonBarModel}"
					style="height:300px" />
			</h:form>
		</p:layoutUnit>
	</p:layout>
</h:body>
</html>
