<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:us="http://java.sun.com/jsf/composite/composite">

<h:head>
	<title>Benutzer</title>
</h:head>

<h:body>

	<p:layout fullPage="true" id="layout">
		<p:layoutUnit position="west" resizable="false" size="300">

			<ui:include src="/pages/include/menu.xhtml" />

		</p:layoutUnit>
		<p:layoutUnit position="center">
			<p:growl id="growl" autoUpdate="false" life="3000" />

			<h:form id="nameForm">
				<!-- <p:spacer width="100%" height="20px" /> -->

				<p:panel id="headingUser" header="Benutzer" />

				<p:dataTable id="userTable" value="#{userController.recordList}"
					var="user" widgetVar="userTable"
					filteredValue="#{userController.filteredRecordList}"
					emptyMessage="No Names found with given criteria"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}"
					paginator="true" rows="10" style="margin-bottom:20px">

					<f:facet name="{Exporters}">
						<div style="float: right; padding-top: 5px;">
							<us:exportTable id="excelExport" tableName=":nameForm:userTable"
								fileName="Benutzertabelle" type="xls"
								imageLocation="/images/excel.png" width="24" height="24" />
							<us:exportTable id="pdfExport" tableName=":nameForm:userTable"
								fileName="Benutzertabelle" type="pdf"
								imageLocation="/images/pdf.png" width="24" height="24" />

						</div>
					</f:facet>

					<p:column filterBy="#{user.id}" filterMatchMode="contains">
						<f:facet name="header">
							<h:outputText value="ID" />
						</f:facet>
						<h:outputText value="#{user.id}" />
					</p:column>


					<p:column filterBy="#{user.person.name}" filterMatchMode="contains">
						<f:facet name="header">
							<h:outputText value="Name" />
						</f:facet>
						<h:outputText value="#{user.person.name}" />
					</p:column>

					<p:column filterBy="#{user.person.vorname}"
						filterMatchMode="contains">
						<f:facet name="header">
							<h:outputText value="Vorname" />
						</f:facet>
						<h:outputText value="#{user.person.vorname}" />
					</p:column>

					<p:column>
						<h:outputText value="#{user.person.email}" />
						<f:facet name="header">
							<h:outputText value="Email" />
						</f:facet>
					</p:column>

					<p:column id="commandButtons" exportable="false"
						style="width:150px; text-align:center;">
						<p:commandButton id="buttonEdit" icon="ui-icon-pencil"
							oncomplete="PF('editDialog').show();" update=":editDialogForm"
							actionListener="#{userController.setSelectedRecord(user)}">
						</p:commandButton>
						<p:commandButton id="buttonRemove" icon="ui-icon-trash"
							update=":ccRemove:removeDialogForm"
							oncomplete="PF('removeDialog').show();"
							actionListener="#{userController.setSelectedRecord(user)}">
						</p:commandButton>
					</p:column>
				</p:dataTable>



				<p:spacer width="100%" height="20px" />
				<div style="float: right;">
					<p:commandButton value="Neuer Benutzer"
						actionListener="#{userController.create()}"
						oncomplete="PF('editDialog').show();" update=":editDialogForm" />

				</div>


				<p:blockUI widgetVar="blockForm" block="nameForm">
					<!-- trigger="submit" -->
					<h:outputText value="Laden" />

				</p:blockUI>
			</h:form>

			<p:dialog appendTo="@(body)" id="editDialog"
				header="#{empty userController.selectedRecord ? 'selectedRecord is null' : 'selectedRecord is not null'}"
				widgetVar="editDialog" modal="true">
				<h:form id="editDialogForm">
					<f:metadata>
						<f:event type="preRenderView"
							listener="#{userReflection.setExcludetFields('passwordHashed', 'salt', 'serialVersionUID', 'id')}" />
					</f:metadata>
					<p:panel id="dialogPanel">
						<p:panelGrid>


							<!-- <h:panelGrid columns="2"> -->

							<ui:repeat var="field" value="#{userReflection.fields}">
								<p:row>
									<p:column>
										<p:outputLabel value="#{field.getName()}" />
									</p:column>
									<p:column>
										<p:inputText required="true"
											rendered="#{field.getGenericType().toString() eq 'class java.lang.String'}"
											value="#{userController.selectedRecord[field.getName()]}">
										</p:inputText>
										<p:selectOneMenu converter="#{personConverter}"
											rendered="#{field.getGenericType().toString() eq 'class model.Person'}"
											value="#{userController.selectedRecord[field.getName()]}">
											<f:selectItem itemLabel="Person wählen" itemValue="#{null}"
												itemDisabled="#{true}" />
											<f:selectItems value="#{personController.recordList}" var="r"
												itemLabel="#{r.fullName}" itemValue="#{r}" />
											<p:ajax update="editDialogForm:submitEdit" />
										</p:selectOneMenu>
										<p:calendar
											value="#{userController.selectedRecord[field.getName()]}"
											rendered="#{field.getGenericType().toString() eq 'class java.util.Date' and field.getName() eq 'mutiertam'}"
											mode="inline" />
									</p:column>
								</p:row>
							</ui:repeat>
							<p:row>
								<p:column colspan="2" style="text-align: center;">
									<p:commandButton id="submitEdit" icon="ui-icon-disk"
										validateClient="true" value="speichern"
										actionListener="#{userController.saveUser()}"
										oncomplete="PF('editDialog').hide(); PF('userTable').filter()"
										update="@form :growl" />
								</p:column>
							</p:row>
							<!-- </h:panelGrid> -->
						</p:panelGrid>
					</p:panel>
				</h:form>
			</p:dialog>


			<!-- 
			<us:editDialog id="editDialogComposite" namedController="#{userController}" entityName="user"
				tableName="userTable" />

 -->
			<us:removeDialog id="ccRemove" namedController="#{userController}"
				tableName="userTable" />

			<!-- 

			</c:if>
			<c:if test="#{not helloUser.loginCorrect}">
				<h:form>
					<p:remoteCommand name="onload"
						action="#{helloUser.unauthorizedUser('Kunden')}" autoRun="true" />
				</h:form>
			</c:if>
 -->
		</p:layoutUnit>
	</p:layout>
</h:body>
</html>
