<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:us="http://java.sun.com/jsf/composite/composite">

<h:head>
	<title>Kunden</title>
</h:head>

<h:body>

	<p:layout fullPage="true" id="layout">
		<p:layoutUnit position="west" resizable="false" size="300">
			<ui:include src="/pages/include/menu.xhtml" />
		</p:layoutUnit>
		<p:layoutUnit position="center">
			<!-- 
			<c:if test="#{helloUser.loginCorrect}">
			
-->
			<p:growl id="growl" autoUpdate="false" life="3000" />

			<h:form id="nameForm">
				<!-- <p:spacer width="100%" height="20px" /> -->

				<p:panel id="headingKunden" header="Kunden" />

				<p:dataTable id="kundenTable" value="#{kundeController.recordList}"
					var="kunde" widgetVar="kundenTable"
					filteredValue="#{kundeController.filteredRecordList}"
					emptyMessage="No Names found with given criteria">

					<p:column headerText="ID" filterBy="#{kunde.id}"
						filterMatchMode="contains">
						<h:outputText value="#{kunde.id}" />
					</p:column>

					<p:column headerText="Kanton"
						filterBy="#{kunde.kanton}"
						filterMatchMode="contains">
						<f:facet name="filter">
							<p:selectOneMenu onchange="PF('kundenTable').filter()">
								<f:selectItem itemLabel="Select One" itemValue="#{null}"
									noSelectionOption="true" />
								<f:selectItems value="#{kantonController.recordList}" var="r"
									itemLabel="#{r.kurzbezeichnung}" />
							</p:selectOneMenu>
						</f:facet>
						<h:outputText value="#{kunde.kanton.kurzbezeichnung}" />
					</p:column>

					<p:column headerText="Name" filterBy="#{kunde.person.name}"
						filterMatchMode="contains" footerText="contains">
						<h:outputText value="#{kunde.person.name}" />
					</p:column>

					<p:column headerText="Vorname" filterBy="#{kunde.person.vorname}"
						filterMatchMode="contains" footerText="contains">
						<h:outputText value="#{kunde.person.vorname}" />
					</p:column>

					<p:column headerText="E-Mail" footerText="email">
						<h:outputText value="#{kunde.person.email}" />
					</p:column>

					<p:column id="commandButtons"
						style="width:150px; text-align:center;">
						<p:commandButton id="buttonEdit" icon="ui-icon-pencil"
							update="editDialogComposite:editDialogForm" oncomplete="PF('editDialog').show();"
							actionListener="#{kundeController.setSelectedRecord(kunde)}">
						</p:commandButton>
						<p:commandButton id="buttonRemove" icon="ui-icon-trash"
							update=":growl :nameForm" oncomplete="PF('kundenTable').filter()">
							<f:setPropertyActionListener value="#{kunde}"
								target="#{kundeController.selectedRecord}" />
							<f:actionListener binding="#{kundeController.removeKunde()}" />

						</p:commandButton>
					</p:column>
				</p:dataTable>

				<p:spacer width="100%" height="20px" />
				<div style="float: right;">
					<p:commandButton value="Neuer Kunde" update="editDialogComposite:editDialogForm"
						actionListener="#{kundeController.create()}"
						oncomplete="PF('editDialog').show();" />

				</div>


				<p:blockUI widgetVar="blockForm" block="nameForm">
					<!-- trigger="submit" -->
					<h:outputText value="Laden" />

				</p:blockUI>
			</h:form>

			<us:editDialog id="editDialogComposite" namedController="#{kundeController}" entityName="kunden"
				tableName="kundenTable" />


			<us:removeDialog id="ccRemove" namedController="#{userController}"
				tableName="userTable" />

			<!-- 

			</c:if>
			<c:if test="#{not helloUser.loginCorrect}">
				<h:form>
					<p:remoteCommand name="onload"
						action="#{helloUser.unauthorizedUser('Kunden')}" autoRun="true" />
				</h:form>
			</c:if>
 -->
		</p:layoutUnit>
	</p:layout>
</h:body>
</html>
