<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Kantone</title>
</h:head>

<h:body>

	<p:layout fullPage="true" id="layout">
		<p:layoutUnit position="west" resizable="false" size="300">
		
		
			<ui:include src="/pages/include/menu.xhtml" />
			
			
		</p:layoutUnit>
		<p:layoutUnit position="center">
			<!-- 
			<c:if test="#{helloUser.loginCorrect}">
			
-->
			<p:growl id="growl" autoUpdate="false" life="3000" />

			<h:form id="nameForm">
				<!-- <p:spacer width="100%" height="20px" /> -->

				<p:panel id="headingSalt" header="Salt" />

				<p:dataTable id="saltTable" value="#{saltController.recordList}"
					var="salt" widgetVar="saltTable"
					filteredValue="#{saltController.filteredRecordList}"
					emptyMessage="No Names found with given criteria">

					<p:column headerText="ID" filterBy="#{salt.id}"
						filterMatchMode="contains">
						<h:outputText value="#{salt.id}" />
					</p:column>

					<!-- <p:column headerText="Salt"
						filterBy="#{salt.salt}"
						filterMatchMode="contains">
						<f:facet name="filter">
							<p:selectOneMenu onchange="PF('saltTable').filter()">
								<f:selectItem itemLabel="Select One" itemValue="#{null}"
									noSelectionOption="true" />
								<f:selectItems value="#{kantonController.recordList}" />
							</p:selectOneMenu>
						</f:facet>
						<h:outputText value="#{kanton.kurzbezeichnung}" />
					</p:column> -->

					<p:column headerText="Salt" filterBy="#{salt.salt}"
						filterMatchMode="contains" footerText="contains">
						<h:outputText value="#{salt.salt}" />
					</p:column>
					
					<p:column id="commandButtons" exportable="false"
						style="width:150px; text-align:center;">
						<p:commandButton id="buttonEdit" icon="ui-icon-pencil"
							update=":editDialogForm" oncomplete="PF('editDialog').show();"
							actionListener="#{saltController.setSelectedRecord(salt)}">
						</p:commandButton>
					</p:column>
				</p:dataTable>

				<p:spacer width="100%" height="20px" />
				<div style="float: right;">
					<p:commandButton value="Neuer Salt" update=":editDialogForm"
						actionListener="#{saltController.create()}"
						oncomplete="PF('editDialog').show();" />

				</div>


				<p:blockUI widgetVar="blockForm" block="nameForm">
					<!-- trigger="submit" -->
					<h:outputText value="Laden" />

				</p:blockUI>
			</h:form>

			<p:dialog appendTo="@(body)" id="editDialog"
				header="#{empty saltController.selectedRecord ? 'selectedRecord is null' : 'selectedRecord is not null'}"
				widgetVar="editDialog" modal="true">
				<h:form id="editDialogForm">
					<h:panelGrid columns="3">

						<p:panel id="dialogPanel">
							<h:panelGrid columns="2">

								

								<p:outputLabel for="saltEdit" value="Salt" />
								<p:inputText id="saltEdit" required="true"
									value="#{saltController.selectedRecord.salt}">
								</p:inputText>

								<p:spacer width="100%" height="10px" />


								<p:commandButton id="submitEdit" icon="ui-icon-disk"
									validateClient="true" value="speichern"
									actionListener="#{saltController.saveSalt()}"
									oncomplete="if (args &amp;&amp; !args.validationFailed) { PF('editDialog').hide(); PF('saltTable').filter()}"
									update="@form :growl" />

							</h:panelGrid>
						</p:panel>
					</h:panelGrid>
				</h:form>
			</p:dialog>
			<!-- 

			</c:if>
			<c:if test="#{not helloUser.loginCorrect}">
				<h:form>
					<p:remoteCommand name="onload"
						action="#{helloUser.unauthorizedUser('Kunden')}" autoRun="true" />
				</h:form>
			</c:if>
 -->
		</p:layoutUnit>
	</p:layout>
</h:body>
</html>
