<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<p:outputLabel for="kantonEdit" value="Kanton*" />
	<p:selectOneMenu id="kantonEdit" converter="#{kantonConverter}"
		value="#{cc.attrs.namedController.selectedRecord.kanton}">
		<f:selectItem itemLabel="Kanton wählen" itemValue="#{null}"
			itemDisabled="#{true}" />
		<f:selectItems value="#{kantonController.recordList}" var="r"
			itemLabel="#{r.kurzbezeichnung}" itemValue="#{r}" />
		<p:ajax update="submitEdit" />
	</p:selectOneMenu>

	<p:outputLabel for="personEdit" value="Person*" />
	<p:selectOneMenu id="personEdit" converter="#{personConverter}"
		value="#{cc.attrs.namedController.selectedRecord.person}">
		<f:selectItem itemLabel="Person wählen" itemValue="#{null}"
			itemDisabled="#{true}" />
		<f:selectItems value="#{personController.recordList}" var="r"
			itemLabel="#{r.fullName}" itemValue="#{r}" />
		<p:ajax update="submitEdit" />
	</p:selectOneMenu>

	<p:spacer width="100%" height="10px" />


	<p:commandButton id="submitEdit" icon="ui-icon-disk"
		validateClient="true" value="speichern"
		actionListener="#{cc.attrs.namedController.saveKunde()}"
		update="@form :growl"
		oncomplete="PF('editDialog').hide(); PF('#{cc.attrs.tableName}').filter()"
		disabled="#{cc.attrs.namedController.selectedRecord.person eq null or cc.attrs.namedController.selectedRecord.kanton eq null}" />


</ui:composition>

