<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<p:outputLabel for="personEdit" value="Person*" />
	<p:selectOneMenu id="personEdit" converter="#{personConverter}"
		value="#{cc.attrs.namedController.selectedRecord.person}">
		<f:selectItem itemLabel="Person wählen" itemValue="#{null}"
			itemDisabled="#{true}" />
		<f:selectItems value="#{personController.recordList}" var="r"
			itemLabel="#{r.fullName}" itemValue="#{r}" />
		<p:ajax update="submitEdit" />
	</p:selectOneMenu>

	<p:outputLabel for="username" value="Benutzername*" />
	<p:inputText id="username"
		value="#{cc.attrs.namedController.selectedRecord.username}">>
									<f:validateLength minimum="3" />
		<p:ajax update="submitEdit" />
	</p:inputText>


	<p:outputLabel for="password" value="Passwort*" />
	<p:inputText type="password" id="password"
		value="#{cc.attrs.namedController.selectedRecord.password}">
		<f:validateLength minimum="5" />
		<p:ajax update="submitEdit" />
	</p:inputText>

	<p:spacer width="100%" height="10px" />

	<p:commandButton id="submitEdit" icon="ui-icon-disk"
		validateClient="true" value="speichern"
		actionListener="#{cc.attrs.namedController.saveUser()}"
		oncomplete="PF('editDialog').hide(); PF('#{cc.attrs.tableName}').filter()"
		update="@form :growl"
		disabled="#{cc.attrs.namedController.selectedRecord.person eq null}" />

</ui:composition>

