<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:composite="http://java.sun.com/jsf/composite">


<composite:interface>
	<composite:attribute name="namedController" />
	<composite:attribute name="entityName" />
	<composite:attribute name="tableName" />
</composite:interface>

<composite:implementation>

	<p:dialog appendTo="@(body)" id="editDialog"
		header="#{empty cc.attrs.namedController.selectedRecord ?
			'selectedRecord is null' : 'selectedRecord is not null'}"
		widgetVar="editDialog" modal="true">
			<h:form id="editDialogForm">
				<h:panelGrid columns="3">

					<p:panel id="dialogPanel">
						<h:panelGrid columns="2">

							<ui:include
								src="/pages/include/fields/#{cc.attrs.entityName}.xhtml" />

						</h:panelGrid>
					</p:panel>
				</h:panelGrid>
			</h:form>
	</p:dialog>

</composite:implementation>

</html>