<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">


<composite:interface>
	<composite:attribute name="tableName" />
	<composite:attribute name="fileName" />
	<composite:attribute name="type" />
	<composite:attribute name="id" />
	<composite:attribute name="imageLocation" />
	<composite:attribute name="width" />
	<composite:attribute name="height" />
</composite:interface>

<composite:implementation>

	<h:commandLink id="#{cc.attrs.id}">
		<p:graphicImage width="#{cc.attrs.width}" height="#{cc.attrs.height}" name="#{cc.attrs.imageLocation}" value="#{cc.attrs.imageLocation}" />
		<p:dataExporter type="#{cc.attrs.type}" target="#{cc.attrs.tableName}" fileName="#{cc.attrs.fileName}" />
	</h:commandLink>

</composite:implementation>

</html>