<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:composite="http://java.sun.com/jsf/composite">


<composite:interface>
	<composite:attribute name="namedController" />
	<composite:attribute name="tableName" />
</composite:interface>

<composite:implementation>
	<p:dialog appendTo="@(body)" id="removeDialog" dynamic="true"
		header="Löschen" widgetVar="removeDialog" modal="true" width="300" >
		<h:form id="removeDialogForm">
			<p:outputLabel
				value="Sind sie Sicher dass sie diesen Eintrag löschen wollen?" />

			<p:spacer width="100%" height="10px" />

			<p:commandButton id="submitRemove" icon="ui-icon-trash"
				validateClient="true" value="löschen"
				actionListener="#{cc.attrs.namedController.remove()}"
				oncomplete="PF('removeDialog').hide(); PF('#{cc.attrs.tableName}').filter()"
				update=":nameForm :growl" />
			<p:commandButton id="cancel" icon="ui-icon-close"
				validateClient="true" value="abbrechen"
				onclick="PF('removeDialog').hide(); PF('#{cc.attrs.tableName}').filter()"
				update=":nameForm :growl" />

		</h:form>
	</p:dialog>
</composite:implementation>

</html>